@import '@material/react-text-field/index.scss';

@import "@material/textfield/mixins";

$color: #1A73E8;

.mybox {
    // padding: 10%;
}

.f {
    padding: 10% 5% 10% 5%;
}

.f-h5 {
    margin-bottom: 5%;
}

.f-b1 {
    margin-bottom: 5%;
}

.f-tf {
    width: 100%;
    margin: 0% 0% 5% 0%;
}

.f-tf.main {
    margin: 10% 0% 0% 0%;
    @include mdc-text-field-caret-color(#000000);
    @include mdc-text-field-focused-outline-color($color);
    @include mdc-text-field-hover-outline-color(#CCCCCC);
    @include mdc-text-field-outline-color(#CCCCCC);
}

.f-tf.main.mdc-text-field--focused {
    @include mdc-text-field-label-color($color);
}

.f-b {
    // margin: 0% 0% 00% 0%;
}

.hero-foot {
    padding: 0% 10% 5% 10%;
}